@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
    font-family: 'Roboto', sans-serif;
}
/*#0098d4 -- skyblue
#142c4c -- darkblue*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
