@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* Load your custom font */
@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/Monda.otf') format('woff2'),
       url('./assets/fonts/Monda.otf') format('woff'),
       url('./assets/fonts/Monda.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Apply global styles */
body {
  @apply bg-gray-50 text-gray-900 font-sans  antialiased;
}

/* Accessibility helper */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 
#0098d4 -- skyblue
#142c4c -- darkblue
*/
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes wave-slow {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes wave-fast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-60%); }
}

.animate-wave-slow {
  animation: wave-slow 15s linear infinite;
}

.animate-wave-fast {
  animation: wave-fast 8s linear infinite;
}
